.splash{
    height: 100%;
}

.ion-page.show-page{
    height: 100%;
}

#bg{
    position:absolute;
    z-index:-1;
    width: 100%;
    height: 100%;
    margin:0;
    top:0;
    left:0;
    bottom:0;
    background: url('https://c3.staticflickr.com/1/293/18910888954_5b8dc7ebf7_k.jpg') center center no-repeat;
    background-size: cover;
}

svg{
    width: 70%;
    display: block;
    margin: 0 auto;
    z-index:2;
  }
  
  .leletters, .effortless, .ring{
    fill: #fff;
  }
  
  .effortless{
    -webkit-animation: spin1 2s infinite linear;
    -moz-animation: spin1 2s infinite linear;
    -o-animation: spin1 2s infinite linear;
    -ms-animation: spin1 2s infinite linear;
    animation: spin1 25s infinite linear;
    transform-origin: center center;
  }
  
  @-webkit-keyframes spin1 {
  0% { -webkit-transform: rotate(0deg);}
  100% { -webkit-transform: rotate(360deg);}
  }
  @-moz-keyframes spin1 {
  0% { -moz-transform: rotate(0deg);}
  100% { -moz-transform: rotate(360deg);}
  }
  @-o-keyframes spin1 {
  0% { -o-transform: rotate(0deg);}
  100% { -o-transform: rotate(360deg);}
  }
  
  .leletters{
    -webkit-animation-name: spinner; 
    -webkit-animation-timing-function: linear; 
    -webkit-animation-iteration-count: infinite; 
    -webkit-animation-duration: 7s; 
    animation-name: spinner; 
    animation-timing-function: linear; 
    animation-iteration-count: infinite; 
    animation-duration: 7s; 
    -webkit-transform-style: preserve-3d; 
    -moz-transform-style: preserve-3d; 
    -ms-transform-style: preserve-3d; 
    transform-style: preserve-3d;
    transform-origin: center center;
  }
  
  @-webkit-keyframes spinner { 
      from 
      { 
          -webkit-transform: rotateY(0deg); 
      } 
      to { 
          -webkit-transform: rotateY(-360deg); 
      } 
  } 
  
  @keyframes spinner { 
      from { 
          -moz-transform: rotateY(0deg); 
          -ms-transform: rotateY(0deg); 
          transform: rotateY(0deg); 
      } 
      to 
      { 
          -moz-transform: rotateY(-360deg); 
          -ms-transform: rotateY(-360deg); 
          transform: rotateY(-360deg); 
      } 
  }
  
  @keyframes AnimateBG { 
    0%{background-size:100% 100%}
    50%{background-size:120% 100%}
    100%{background-size:110% 100%}
  }