// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
$le-grey: #2A2A2A;
$le-gold: #a29061;
$le-golddark: desaturate( $le-gold, 20% );

body, p, a{
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3{
    font-family: 'Montserrat', sans-serif;
}
.logo{
    width: 12rem;
    margin: 0 auto;
    display: block;
    padding: 1rem 0;
}


.toolbar-background {
    background: $le-grey;
    color: white;
}

.tab-button.has-icon[aria-selected=true], .tab-button.has-icon[aria-selected=true] .tab-button-icon {
    color: #a29061;
}


