// http://ionicframework.com/docs/theming/

$le-grey: #2A2A2A;
$le-gold: #a29061;
$le-golddark: darken( $le-gold, 20% );
$etn-blue: #0C3543;

body, p, a{
    font-family: 'Open Sans', sans-serif;
    color: $le-grey;
}

p{
    margin-top: 0;
    color: $le-grey;
}

h1, h2, h3{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
}

.logo{
    width: 12rem;
    margin: 0 auto;
    display: block;
    padding: 1rem 0;
}

/// UI ///

.button.activated{
    background-color: $le-golddark;
}

.back-button{
    position: absolute;
    color: $le-gold;
}

.swiper-pagination-bullet-active{
    background-color: $le-gold;
}

.toolbar-background {
    background: $le-grey;
    color: white;
}

.tab-button.has-icon[aria-selected=true], .tab-button.has-icon[aria-selected=true] .tab-button-icon {
    color: #a29061;
}

/// Shared styles ///

.product{
    &--list{
        text-align: center;
        margin-bottom: 3rem;
        a{
            color: $le-grey;
        }
    }
}